<header>
  <h1>Responsive Image Grid</h1>
  <h5>Resize the browser window to see the responsive effect.</h5>
</header>
<section>
  <article>
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/rocks.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/falls2.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/paris.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/mist.jpg" alt="">
  </article>
  <article>
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/rocks.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/falls2.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/paris.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/mist.jpg" alt="">
  </article>
  <article>
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/rocks.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/falls2.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/paris.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/mist.jpg" alt="">
  </article>
  <article>
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/rocks.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/falls2.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/paris.jpg" alt="">
      <img src="https://gitlab.com/tae-public/data/raw/master/cs31/flex/mist.jpg" alt="">
  </article>
</section>